@font-face {
    font-family: "hallymGothic";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "hallymGothic";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "hallymGothic";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.ttf") format("truetype");
    font-display: swap;
}
.hallymGothic {
    font-family: "hallymGothic";
}
.hallymGothic400 {
    font-family: "hallymGothic";
    font-weight: 400;
}
.hallymGothic500 {
    font-family: "hallymGothic";
    font-weight: 500;
}
.hallymGothic700 {
    font-family: "hallymGothic";
    font-weight: 700;
}